.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 30px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.searchbar {
  /* display: flex; */
  justify-content: flex-end;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}
